<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pokeout.pokeout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginRegister.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Services.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginRegister.RegisterActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Profil.ProfilActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".CategoryAdd.CategoryAddActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".UsersInCategory.UsersInCategoryActivity" />
        <activity android:name=".UserDescryption.UserDescryptionActivity" />
        <activity android:name=".Chat.ChatActivity" />
        <activity android:name=".CategoryDescryption.CategoryDescryptionActivity" />
        <activity android:name=".Connect.ConnectActivity" />
        <activity android:name=".UserInCategory.UserInCategoryActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".LoginRegister.ResetPassword" />
        <activity android:name=".LoginRegister.test"></activity>
    </application>

</manifest>